/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jasny-bootstrap.min
 *= require_tree 
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
    height: 100%;
}

body {
	padding-top: 50px;
}


/* navbar */
.navbar-default {
    background-color: #FFFFFF;
    border-color: #DE1B1B;
}

/* title */
.navbar-default .navbar-brand {
    color: #DE1B1B;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #DE1B1B;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #DE1B1B;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: #2B2B2B;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #FFFFFF;
    background-color: #2B2B2B;
}

#myNavmenu {
    background-color: #2B2B2B;
    border: none;
    opacity: .95;
}

.navmenu-default .navmenu-nav > .active > a,
.navmenu-default .navmenu-nav > .active > a:hover,
.navmenu-default .navmenu-nav > .active > a:focus {
    background-color: #FFFFFF;
    color: #DE1B1B;
}

.navmenu-default .navmenu-nav > li > a:hover,
.navmenur-default .navmenur-nav > li > a:focus {
    color: #DE1B1B;
    font-weight: bold;
}

.my-btn {
    color: #fff;
    border-color: #fff;
    background-color: transparent;
    border-width: 2px;
    text-align: center;
    font-size: 1.1em;
    border-radius: 0;
    letter-spacing: 2px;
    -webkit-transition: background-color .2s ease-out .2s,
                        border-color .2s ease-out .2s,
                        color .2s ease-out .2s;
    -moz-transition: background-color .2s ease-out .2s,
                     border-color .2s ease-out .2s,
                     color .2s ease-out .2s;
    -o-transition: background-color .2s ease-out .2s,
                   border-color .2s ease-out .2s,
                   color .2s ease-out .2s;
    transition: background-color .2s ease-out .2s,
                border-color .2s ease-out .2s,
                color .2s ease-out .2s;
}


.my-btn:hover,
.my-btn:focus {
    color: #DE1B1B;
    background-color: #fff;
    border-color: #DE1B1B;

}

.my-btn2 {
    color: #DE1B1B;
    border-color: #DE1B1B;
    background-color: transparent;
    border-width: 2px;
    text-align: center;
    font-size: 1.1em;
    border-radius: 0;
    letter-spacing: 2px;
    -webkit-transition: background-color .2s ease-out .2s,
                        color .2s ease-out .2s,
                        border-color .2s ease-out .2s;
    -moz-transition: background-color .2s ease-out .2s,
                     color .2s ease-out .2s
                     border-color .2s ease-out .2s;
    -o-transition: background-color .2s ease-out .2s
                   color .2s ease-out .2s
                   border-color .2s ease-out .2s;
    transition: background-color .2s ease-out .2s,
                color .2s ease-out .2s
                border-color .2s ease-out .2s;
}

.my-btn2:hover,
.my-btn2:focus {
    color: #fff;
    background-color: #DE1B1B;
    border-color: #fff;

}

.navbar-right li a img {
    padding: 0;
}

.container-fluid1 {
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}

.navmenu-brand {
    margin-top: 0;
}

.jumbotron, .home {
    background: url(doors.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
	h1, h2, p {
   		color: #FFFFFF;
    	text-align: center;
	}
}

#search-form {
    text-align: center;
    padding-top: 50px;
    select#search {
		/* put styling here for search field */
    }
}

@media only screen and (max-width: 767px) {
    .container-fluid {
        padding: 0;
        margin: 0;
    }
}

.results {
    background: url(pcs.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 30%;
    h1 {
        text-align: left;
        color: #fff;
    }
}

.item {
    img {
        max-height: 300;
        width: 33.33%;
        display: inline;
        margin: auto;
    }
}





