/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	padding-top: 50px;
	background-color: #2B2B2B;
}

.my-btn {
  //@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  @include button-variant(#2B2B2B, #DE1B1B, #E9E581);
}

.btn > a:hover, 
.btn > a:focus {
	color: #E9E581;
	text-decoration: none;
}

.btn > a {
	color: #2B2B2B;
}

/* navbar */
.navbar-default {
    background-color: #F6F6F6;
    border-color: #DE1B1B;
}

/* title */
.navbar-default .navbar-brand {
    color: #DE1B1B;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #E9E581;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #E9E581;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E9E581;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #E9E581;
}

#login-opt {
	list-style-type: none;
	margin: 100px 0 100px 0;
	padding: 0;
}

#login-opt li {
	margin-bottom: 20px;
}

